.spinner {
  margin: 3.2rem auto;
  width: 60px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid theme("colors.primary.900");
  border-right-color: theme("colors.primary.200");
  animation: s3 1s infinite linear;
}

.spinner-mini {
  margin: 0;
  width: 20px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 2px solid theme("colors.primary.200");
  border-right-color: transparent;
  animation: s3 1s infinite linear;
}

@keyframes s3 {
  to {
    transform: rotate(1turn);
  }
}
